/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
} */
/* body {
  min-height: 100vh;
  background-color: #273c75;
  display: flex;
  align-items: center;
  justify-content: center;
} */
a,
a:hover {
  text-decoration: none;
}
.searchBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchText {
  width: 2.8rem;
  border-radius: 5rem;
  font-size: 0px;
  border: none;
  outline: none;
  margin: 8px 14px 10px 0;
  transition: all 0.2s linear;
}
.searchText:focus {
  outline: none;
}
.searchBtn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #2fc5c2;
  color: #000 !important;
  right: 1rem;
  position: absolute;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.searchBox:hover > .searchText {
  width: 10rem;
  padding: 0rem;
  font-size: 16px;
  box-shadow: 0 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid black;
  border-right: 3px solid black;
}
.searchBox:hover > .searchBtn {
  background-color: #fff !important;
  color: #fff;
}
i.fa.fa-search.fa-1\.5x {
  font-size: 20px;
  font-weight: 700;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .searchText {
    width: 11rem;
    border-radius: 5rem;
    border: none;
    font-size: 16px;
    outline: none;
    margin: 10px 16px 10px 0;
    transition: all 0.2s linear;
  }
  .searchBox:hover > .searchText {
    width: 14rem;
    padding: 0rem;
    box-shadow: 0 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5);
  }
  .searchBox:hover > .searchBtn {
    margin-right: 38px;
    background-color: #fff !important;
    color: #000;
  }
  .searchBtn {
    margin-right: 38px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    color: #fff !important;
    right: 1rem;
    position: absolute;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 600px) {
  .searchText {
    width: 32rem;
    border-radius: 5rem;
    border: none;
    font-size: 16px;
    outline: none;
    margin: 8px 16px 10px 0;
    transition: all 0.2s linear;
  }
  .searchBox:hover > .searchText {
    width: 31rem;
    padding: 0 0 0 0px;

    box-shadow: 0 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5);
  }
  .searchBox:hover > .searchBtn {
    background-color: #fff !important;
    color: royalblue;
  }
}
@media only screen and (min-device-width: 767px) and (max-device-width: 1023px) {
  .searchText {
    width: 31rem;
    font-size: 16px;
    border-radius: 5rem;
    border: none;
    outline: none;
    margin: 10px 16px 10px 0;
    transition: all 0.2s linear;
  }
  .searchBox:hover > .searchText {
    width: 31rem;
    padding: 0 0 0 0px;

    box-shadow: 0 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5);
  }
}
